*{
    margin: 0;
    padding: o;
    font-family: Century Gothic;
    position: relative;
    
  
}




.logout{ 
    
    color: rgb(204, 18, 18); 
    font-weight: bolder;
    font-size: 80%;
    text-transform: uppercase;
    margin: 0px auto;
    padding: 0.3% 2%;
    width: 300px;
    height: 30px;
    border: 5px solid rgb(169, 165, 174);  
    background-color: rgb(213, 213, 237);
    position: relative;
    display: flex;
    justify-content: center;  
    }  
    