*{
    margin: 0;
    padding: o;
    font-family: Century Gothic;

}
.search-bar-container{
    width: 40%;
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}
#Bottomdiv{
    margin-top: 2%;
}
/*.search{  
    margin: 2rem 0;
    margin: 0px auto;
    padding: 1rem 2rem;
    width: 180px;
    height: 2rem;
    text-align:center;
    display: flex;
    justify-content:center;
    }  


    .lucky{  
        margin: 2rem 0;
        margin: 0px auto;
        padding: 1rem 2rem;
        width: 200px;
        height: 10px;
        display: flex;
        justify-content: center;  
        }      */