*{
    margin: 0;
    padding: o;
    font-family: Century Gothic;

}
.section {
    height: 200px;
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);
    justify-content: space-between;
}
 
.section-Left {
    flex-direction: row-reverse;
}
.navigation{

    background-color: #bdbea1;
    display: flex;
    width: 100%;
    height: 50px;
}

.logo{
    display: flex;
    flex: content;
    justify-content: space-between;
    margin-left: 1rem;
    font-weight: bolder;
    font-size: 20px;
    text-align: left;

    
}

